body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 15px;
}

/* OPLOSSING gebaseerd op https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Typical_Use_Cases_of_Flexbox#Card_layout_pushing_footer_down */

/* We plaatsen de twee 'cards' naast elkaar */
.cards {
  display: flex;
  /* kleine correctie omdat we geen linkermarge willen bij de 'cards'.  */
  margin-left: -5px;
}

/* We maken van elke 'card' een flex-container, met flex-direction: column.*/
.card {
  display: flex;
  flex-direction: column;
  width: 245px;
  margin: 5px;
}
/* En we stellen in dat het eerste element (.content) van de 'card', mag groeien. */
.card .content {
  /* flex: 1 1 auto; */
  flex-grow: 1;
}

.card footer {
  background-color: rgba(96, 139, 168, 0.2);
  padding: 10px;
}

.card .content {
  padding: 10px;
}

.card {
  border: 2px solid rgb(96, 139, 168);
  border-radius: 5px;
}
